<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>Music Community</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/community.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Music Community</a>
        <button id="silence" type="button" class="btn btn-danger" style="cursor:pointer; margin-left: 6px;">
            Mute
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/musico">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/music_community">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/who_is_following">Who's Following Me?</a>
                </li>
                <li class="nav-item">
                    {% if authenticated %}
                        <a class="nav-link" href="/signout">Logged in as: {{ user }}</a>
                    {% else %}
                        <a class="nav-link" href="/musico_register">Connect</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">Discover
        <small>It's Nice to Meet You!</small>
    </h1>

    <div id="embed"></div>
    <hr>

    <!-- Team Members Row -->
    <div class="row" id="members-container">
    </div>

</div>
<!-- /.container -->

<!-- dynamic songs search modal -->
<div class="modal fade" id="user_playlists_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title"></h4>
                <button style="cursor:pointer" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div id="search-table-modal" class="modal-body">
                <div class="row">
                    <!-- /.col-lg-3 -->

                    <div class="col-lg-12" style="
    margin-top: 1.5rem;
">

                        <div class="row">

                            <div id="amazing-table" class="col-lg-9" style="display:none">
                            </div>

                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.col-lg-9 -->

                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="player">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div id="player_body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Music&Co 2017-18 TAU</p>
        <p class="m-0 text-center text-white">Prepared (?) Statements</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $('html').data('who_is_following', false);
</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/community.js' %}"></script>

</body>

</html>
