<html lang="en">
<head>
    {% load staticfiles %}
    <title>Music&amp;Co - Playlists Space</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/playlists-creator.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/playlists_studio">Playlist Studio</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="btn btn-info" style="cursor:pointer" data-toggle="modal" data-target="#myModal">
            Create Playlist
        </button>
        <button id="silence" type="button" class="btn btn-info" style="cursor:pointer; margin-left: 6px;">
            Mute
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/musico">Home</a>
                </li>
                <li class="nav-item">
                    {% if authenticated %}
                        <a class="nav-link" href='#' data-toggle="modal" data-target="#signout-modal">Logged in as: {{ user }}</a>
                    {% else %}
                        <a class="nav-link" href="/musico_register">Connect</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <form class="form-wrapper cf" style="display:none">
        <input id="search-bar" type="text" placeholder="Search songs to add in this playlist..." required="">
    </form>
    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-lg-12" style="
    margin-top: 1.5rem;
">


            <div class="row">

                <div id="amazing-table" class="col-lg-9" style="display:none">
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- dynamic songs search modal -->
<div class="modal fade" id="searchModal">
    <div class="modal-dialog" style="max-width: 70%!important">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Search Results </h4>
                <button style="cursor:pointer" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div id="search-table-modal" class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- The Create Playlist Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Create a new playlist</h4>
                <button style="cursor:pointer" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="/create_playlist"> {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="title">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="Enter Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="photo-album">Photo URI:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="photo-album" id="photo-album"
                                   placeholder="Enter Display Cover URI">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" style="cursor:pointer" class="btn btn-success">Create Me!</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="player">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div id="player_body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signout-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Are you sure you want to log out?</h4>
                <button style="cursor:pointer" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
           <div class="modal-footer">
                <button id="no-sign-out" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <a id="yes-sign-out" href="/signout" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Music&amp;Co 2017-18 TAU
        </p>
        <p class="m-0 text-center text-white">Prepared (?) Statements</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/playslists-creator.js' %}"></script>

</body>
</html>