<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music&amp;Co - Playlists Space</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/playlists-creator.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Playlist Studio</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/musico">Home</a>
                </li>
                <li class="nav-item">
                    {% if authenticated %}
                        <a class="nav-link" href="/signout">Logged in as: {{ user }}</a>
                    {% else %}
                        <a class="nav-link" href="/musico_register">Connect</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <form class="form-wrapper cf">
        <input type="text" placeholder="Search here..." required="">
    </form>
    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-lg-12" style="
    margin-top: 1.5rem;
">


            <div class="row">

                <div id="amazing-table" class="col-lg-9" style="display:none">
                </div>

                {% comment %}<div id="01" class="col-lg-3 col-md-6 mb-3 play">
                    <div class="card">
                        <a href="#"><img class="card-img-top"
                                         src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/Damn._Kendrick_Lamar.jpg/220px-Damn._Kendrick_Lamar.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                Kendrick Beast Mode!
                            </h4>
                            <h5>12 Tracks</h5>
                            <p class="card-text">Total Duration: 1.9 Hours</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Public | (30 Likes)</small>
                        </div>
                    </div>
                </div>

                <div id="02" class="col-lg-3 col-md-6 mb-3 play">
                    <div class="card">
                        <a href="#"><img class="card-img-top"
                                         src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/The_Eminem_Show.jpg/220px-The_Eminem_Show.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                Eminem Rare
                            </h4>
                            <h5>2 Tracks</h5>
                            <p class="card-text">7.8 Minutes</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Private | (0 Likes)</small>
                        </div>
                    </div>
                </div>

                <div id="03" class="col-lg-3 col-md-6 mb-3 play">
                    <div class="card">
                        <a href="#"><img class="card-img-top"
                                         src="https://upload.wikimedia.org/wikipedia/en/b/b4/Encore_%28Eminem_album%29_coverart.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                Eminem Jams
                            </h4>
                            <h5>18 Tracks</h5>
                            <p class="card-text">Total Duration: 1.8 Hours</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Public | (30 Likes)</small>
                        </div>
                    </div>
                </div>

                <div id="04" class="col-lg-3 col-md-6 mb-3 play">
                    <div class="card">
                        <a href="#"><img class="card-img-top"
                                         src="https://i.pinimg.com/736x/e4/7b/01/e47b01f57dcae2838199b781b2899c29--eminem-albums-music-albums.jpg"
                                         alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                Some Playlist
                            </h4>
                            <h5>20 Tracks</h5>
                            <p class="card-text">Total Duration: 1.7 Hours</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Private | (0 Likes)</small>
                        </div>
                    </div>
                </div>{% endcomment %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Music&amp;Co 2017-18 TAU
        </p>
        <p class="m-0 text-center text-white">Prepared (?) Statements</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/playslists-creator.js' %}"></script>

</body>
</html>