body {
    background: #333;
}

body .center {
    position: relative;
}

body .center .select-button {
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: #f74d4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aae0f7), color-stop(100%, #f86569));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #f74d4d), color-stop(100%, #f86569));
    box-shadow: 0 15px #e24f4f;
}

body .center .select-button:active {
    box-shadow: 0 0 #e24f4f;
    -webkit-transform: translate(0px, 15px);
    -moz-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    -o-transform: translate(0px, 15px);
    -webkit-transition: 0.1s all ease-out;
    -moz-transition: 0.1s all ease-out;
    -ms-transition: 0.1s all ease-out;
    -o-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}

header.masthead {
    background: linear-gradient(0deg, #3b6eff 0%, #94eebc 100%)!important;
}

header.masthead .bg-circle {
    background: linear-gradient(0deg, #96e5ee 0%, #b054ff 100%) !important;
}

#generatediag {
    max-width: 70%;
}

button {
    cursor: pointer;
}

.header-primary {
    background-color: #3d6569;
    color: white;
}